.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 1rem;
}
  
  .container img {
    object-fit: contain;
    width: 10rem;
    height: 20rem;
  }

.container .info {
  display: flex;
  flex: 1;
  padding-left: 1rem;
  min-width: 14rem;
  max-width: 24rem;
  flex-direction: column;
}

.container .info h1 {
  margin-bottom: unset;
}

.container .info .description {
  position: relative;
  height: 4rem;
  overflow: hidden;
}

.container .info .description .bottom {
  position: absolute;
  bottom: 0;
  height: 0;
  width: 100%;
  transform: rotate(180);
  box-shadow: 0 0 2rem 2rem white;
}