.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 1rem;
}
  
  .container img {
    object-fit: contain;
    width: 10rem;
    height: 20rem;
  }

.container .info {
  display: flex;
  flex: 1;
  padding-left: 1rem;
  min-width: 14rem;
  max-width: 24rem;
  flex-direction: column;
}

.container .info h1 {
  margin-bottom: unset;
}